/* CSS variales */
:root {
  --f-family: sans-serif;
  --main-color: #1b1b1b;
  --light-color: #8b8b8b;
  --second-color: #eee;
  --accent-color: #03a9f4;
  --white-color: #fff;
 }
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   font-family: var(--f-family);
 }
 
 /* Start Grid System */
 /* ========= */
 .d-flex {
   display: flex;
 }
 .width-50{
  width: 50%;
}
 .flex-wrap {
   flex-wrap: wrap;
 }
 .flex-dir {
   flex-direction: column;
 }
 .flex-r-rev {
 flex-direction: row-reverse;
 }
 .flex-c-rev {
 flex-direction: column-reverse;
 }
 .flex-flow {
 flex-flow: column wrap;
 }
 .flex-gap-10 {
 gap: 10px;
 }
 .flex-gap-15 {
 gap: 15px;
 }
.flex-100 {
flex: 1 1 100px;
}
.flex-200 {
flex: 1 1 200px;
}
.flex-400 {
flex: 1 1 400px;
}
 .just-cont-c {
   justify-content: center;
 }
 .alig-item-c {
   align-items: center;
 }
 .just-cont-sb {
   justify-content: space-between;
 }
 .just-cont-sa {
   justify-content: space-around;
 }
 .just-cont-fs {
   justify-content: flex-start;
 }
 .just-cont-fe{
   justify-content: flex-end;
 }
 .d-grid {
   display: grid;
 }
 .grid-col-100 {
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }
 .grid-col-200 {
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
 .grid-col-300 {
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }
 .grid-col-400 {
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 }
 .grid-gap-10 {
   grid-gap: 10px;
 }
 .grid-gap-20 {
   grid-gap: 20px;
 }
 .grid-gap-30 {
   grid-gap: 30px;
 }
 /* End Grid System */
 /* ========== */
 .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
 }
 @media (max-width: 574px) {
  .container {
   width: 100%;
  }
 }
 @media (min-width: 575px) {
  .container {
   width: 540px;
  }
 }
 @media (min-width: 768px) {
  .container {
   width: 750px;
  }
 }
 @media (min-width: 992px) {
  .container {
   width: 950px;
  }
 }
 @media (min-width: 1200px) {
  .container {
   width: 1150px;
  }
 }
 @media (min-width: 1400px) {
  .container {
   width: 1350px;
  }
 }
 
 /* Padding */
  .pad-0 {
   padding: 0;
  }
  .pad-10 {
   padding: 10px;
  }
  .pad-15 {
   padding: 15px;
  }
  .pad-20 {
   padding: 20px;
  }
  .pad-25 {
   padding: 25px;
  }
  .pad-30 {
   padding: 30px;
  }
  .pad-x-0 {
   padding-left: 0;
   padding-right: 0;
  }
  .pad-x-10{
   padding-left: 10px;
   padding-right: 10px;
  }
  .pad-x-15 {
   padding-left: 15px;
   padding-right: 15px;
  }
  .pad-x-20 {
   padding-left: 20px;
   padding-right: 20px;
  }
  .pad-x-25 {
   padding-left: 25px;
   padding-right: 25px;
  }
  .pad-x-30 {
   padding-left: 30px;
   padding-right: 30px;
  }
  .pad-y-0 {
   padding-top: 0;
   padding-bottom: 0;
  }
  .pad-y-10 {
   padding-top: 10px;
   padding-bottom: 10px;
  }
  .pad-y-15 {
   padding-top: 15px;
   padding-bottom: 15px;
  }
  .pad-y-20 {
   padding-top: 20px;
   padding-bottom: 20px;
  }
  .pad-y-25 {
   padding-top: 25px;
   padding-bottom: 25px;
  }
  .pad-y-30 {
   padding-top: 30px;
   padding-bottom: 30px;
  }
  .pad-top-0 {
   padding-top: 0px;
  }
  .pad-top-10 {
   padding-top: 10px;
  }
  .pad-top-15 {
   padding-top: 15px;
  }
  .pad-top-20 {
   padding-top: 20px;
  }
  .pad-top-25 {
   padding-top: 25px;
  }
  .pad-top-30 {
   padding-top: 30px;
  }
  .pad-bot-0 {
   padding-bottom: 0;
  }
  .pad-bot-10 {
   padding-bottom: 10px;
  }
  .pad-bot-15 {
   padding-bottom: 15px;
  }
  .pad-bot-20 {
   padding-bottom: 20px;
  }
  .pad-bot-25 {
   padding-bottom: 25px;
  }
  .pad-bot-30 {
   padding-bottom: 30px;
  }
  .pad-l-0 {
   padding-left: 0;
  }
  .pad-l-10 {
   padding-left: 10px;
  }
  .pad-l-15 {
   padding-left: 15px;
  }
  .pad-l-20 {
   padding-left: 20px;
  }
  .pad-l-25 {
   padding-left: 25px;
  }
  .pad-l-30 {
   padding-left: 30px;
  }
  .pad-r-0 {
   padding-right: 0;
  }
  .pad-r-10 {
   padding-right: 10px;
  }
  .pad-r-15 {
   padding-right: 15px;
  }
  .pad-r-20 {
   padding-right: 20px;
  }
  .pad-r-25 {
   padding-right: 25px;
  }
  .pad-r-30 {
   padding-right: 30px;
  }
 /* margin */
 .marg-0 {
  margin: 0;
 }
 .marg-10 {
  margin: 10px;
 }
 .marg-15 {
  margin: 15px;
 }
 .marg-20 {
  margin: 20px;
 }
 .marg-25 {
  margin: 25px;
 }
 .marg-30 {
  margin: 30px;
 }
 .marg-x-0 {
  margin-left: 0;
  margin-right: 0;
 }
 .marg-x-10{
  margin-left: 10px;
  margin-right: 10px;
 }
 .marg-x-15 {
  margin-left: 15px;
  margin-right: 15px;
 }
 .marg-x-20 {
  margin-left: 20px;
  margin-right: 20px;
 }
 .marg-x-25 {
  margin-left: 25px;
  margin-right: 25px;
 }
 .marg-x-30 {
  margin-left: 30px;
  margin-right: 30px;
 }
 .marg-y-0 {
  margin-top: 0;
  margin-bottom: 0;
 }
 .marg-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .marg-y-15 {
  margin-top: 15px;
  margin-bottom: 15px;
 }
 .marg-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
 }
 .marg-y-25 {
  margin-top: 25px;
  margin-bottom: 25px;
 }
 .marg-y-30 {
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .marg-top-0 {
  margin-top: 0;
 }
 .marg-top-10 {
  margin-top: 10px;
 }
 .marg-top-15 {
  margin-top: 15px;
 }
 .marg-top-20 {
  margin-top: 20px;
 }
 .marg-top-25 {
  margin-top: 25px;
 }
 .marg-top-30 {
  margin-top: 30px;
 }
 .marg-bot-0 {
  margin-bottom: 0;
 }
 .marg-bot-10 {
  margin-bottom: 10px;
 }
 .marg-bot-15 {
  margin-bottom: 15px;
 }
 .marg-bot-20 {
  margin-bottom: 20px;
 }
 .marg-bot-25 {
  margin-bottom: 25px;
 }
 .marg-bot-30 {
  margin-bottom: 30px;
 }
 .marg-l-0 {
  margin-left: 0;
 }
 .marg-l-10 {
  margin-left: 10px;
 }
 .margin-l-15 {
  margin-left: 15px;
 }
 .marg-l-20 {
  margin-left: 20px;
 }
 .marg-l-25 {
  margin-left: 25px;
 }
 .marg-l-30 {
  margin-left: 30px;
 }
 .marg-r-0 {
  margin-right: 0;
 }
 .marg-r-10 {
  margin-right: 10px;
 }
 .marg-r-15 {
  margin-right: 15px;
 }
 .margin-r-20 {
  margin-right: 20px;
 }
 .margin-r-25 {
  margin-right: 25px;
 }
 .marg-r-30 {
  margin-right: 30px;
 }
 
 /* Font */
 /* Default Font Size and Weight of Headings  and Paragraph
    h1 === 32px  bold
    h2 === 24px  bold
    h3 === 18px  bold
    h4 === 16px  bold
    h5 === 13px  bold
    h4 === 12px  bold
    p  === 16px  light
 */
 
 .f-size-40 {
  font-size: 40px;
 }
 .f-size-15 {
  font-size: 15px;
 }
 .f-size-10 {
  font-size: 10px;
 }
 .f-wgt-bold{
  font-weight: bold;
 }
 .f-wgt-light{
  font-weight: light;
 }
 .f-family {
  font-family: var(--f-family);
 }
 .f-color-dark {
  color: var(--main-color);
 }
 .f-color-light {
  color: var(--light-color);
 }
 .f-color-white {
  color: var(--white-color);
 }
 .bg-color {
  background-color: var(--second-color);
}
.bg-color-accent {
  background-color: var(--accent-color);
}
.bg-color-white {
background-color: var(--white-color);
}
.bg-color-black{
background-color: var(--main-color);
}
.b
.t-align {
  text-align: center;
}
 .line-hgt {
  line-height: 1.5;
}
 /* Start Position */
 .p-abs {
   position: absolute;
 }
 .p-rel {
   position: relative;
 }
 .p-fix {
   position: fixed;
 }
 .p-sti {
   position: sticky;
 }
 .left-0 {
   left: 0;
 }
 .rigt-0 {
   right: 0;
 }
 .top-0 {
   top: 0;
 }
 .bottom-0 {
   bottom: 0;
 }
 .left-50p {
   left: 50%;
 }
 .rigt-50p {
   right: 50%;
 }
 .top-50p {
   top: 50%;
 }
 .bottom-50p {
   bottom: 50%;
 }
 .z-index-10 {
   z-index: 10;
 }
 .z-index-20 {
   z-index: 20;
 }
 .z-index-30 {
   z-index: 30;
 }
 .z-index-40 {
   z-index: 40;
 }
 .z-index-50 {
   z-index: 50;
 }
 .z-index-min-1 {
   z-index: -1;
 }
 /* End Position */
 .a {
  text-decoration: none;
}
.ul {
  list-style: none;
}
.img-size-60 {
  width: 60px;
  height: 60px;
}
.img-size-100 {
  width: 100px;
  height: 100px;
}
.img-size-150 {
  width: 150px;
  height: 150px;
}
.img-fit {
  max-width: 100%;
  max-height: 100%;
}
