p {
  position: relative;
}
 p::before {
  content: "";
  position: absolute;
  background-color: var(--white-color);
  top: -10px;
  left: 90px;
  width: 80%;
  height: 200%;
}
 div:nth-child(1) p:after {
  content: "60%";
  font-size: 12px;
  position: absolute;
  background-color: var(--accent-color);
  color: var(--white-color);
  top: -10px;
  left: 90px;
  width: 40%;
  height: 200%;
  text-align: right;
  line-height: 3;
  padding-right: 7px;
}
div:nth-child(3) p:after {
  content: "70%";
  font-size: 12px;
  position: absolute;
  background-color: var(--accent-color);
  color: var(--white-color);
  top: -10px;
  left: 90px;
  width: 50%;
  height: 200%;
  text-align: right;
  line-height: 3;
  padding-right: 7px;
}
div:nth-child(4) p:after {
  content: "80%";
  font-size: 12px;
  position: absolute;
  background-color: var(--accent-color);
  color: var(--white-color);
  top: -10px;
  left: 90px;
  width: 60%;
  height: 200%;
  text-align: right;
  line-height: 3;
  padding-right: 7px;
}
div:nth-child(5) p:after {
  content: "65%";
  font-size: 12px;
  position: absolute;
  background-color: var(--accent-color);
  color: var(--white-color);
  top: -10px;
  left: 90px;
  width: 45%;
  height: 200%;
  text-align: right;
  line-height: 3;
  padding-right: 7px;
}
div:nth-child(6) p:after {
  content: "90%";
  font-size: 12px;
  position: absolute;
  background-color: var(--accent-color);
  color: var(--white-color);
  top: -10px;
  left: 90px;
  width: 70%;
  height: 200%;
  text-align: right;
  line-height: 3;
  padding-right: 7px;
}